<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About us</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
    <!--Add a registration form here -->
    </body>
    <div class="container-fluid">
        <form class ="form-inline form-horizontal">
        <input type="text" class="form-control" placeholder='Enter User Name'>

        <input type="text" class="form-control" placeholder='Enter First Name'> 
        <input type="text" class="form-control" placeholder='Enter Last Name'> 
        <input type="text" class="form-control" placeholder='Enter Password:'> 
        <button class="btn btn-primary btn btn-link btn btn-dark" href="{% url 'djangoapp:registration' %}" type="submit">
            <label> Sign Up </label>
    <!--<a alternate code for signup button class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>-->
        </button>
       
        </form>
        </div>
</html>