<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here -->
    <form class ="form-inline form-vertical" >
    <input type="text" class="form-vertical" placeholder='Enter User Name'> 
    <input type="text" class="form-control" placeholder='Enter First Name'> 
    <input type="text" class="form-control" placeholder='Enter Last Name'> 
    <input type="text" class="form-control" placeholder='Enter Password:'> 
    <button class="btn btn-primary btn btn-link" href="{% url 'djangoapp:registration' %}" type="submit">
        <label> Sign Up </label>
<!--<a alternate code for signup button class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>-->

    </button>
   
    </form>
    </body>
</html>